<link href="~/css/HomeIndex.css" rel="stylesheet" />

<div class="text-center">
    <h3 id="header" class="display-4">
        Welcome to your bookshelves
    </h3>

    <img src="~/img/IndexHomePicture.jpg" class="img-fluid" />
    <div id="imagerContainer">
        <img id="item" src="~/img/books/book1.jpg" />
        <img id="item" src="~/img/books/book2.jpg" />
        <img id="item" src="~/img/books/book3.jpg" />
        <img id="item" src="~/img/books/book4.jpg" />
        <img id="item" src="~/img/books/book5.jpg" />
        <img id="item" src="~/img/books/book6.jpg" />
        <img id="item" src="~/img/books/book7.jpg" />
        <img id="item" src="~/img/books/book8.jpg" />
        <img id="item" src="~/img/books/book9.jpg" />
        <img id="item" src="~/img/books/book10.jpg" />
        <img id="item" src="~/img/books/book11.jpg" />
        <img id="item" src="~/img/books/book12.jpg" />
        <img id="item" src="~/img/books/book13.jpg" />
        <img id="item" src="~/img/books/book14.jpg" />
    </div>
</div>
