<link href="~/css/Privacy.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h5>Some rights reserved:</h5>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h5>Attribution</h5> — You must give appropriate credit, provide a link to the license, and indicate if changes were made.
        You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
    </li>
    <li class="list-group-item">
        <h5>NonCommercial</h5> — You may not use the material for commercial purposes.
    </li>
    <li class="list-group-item">
        <h5>ShareAlike</h5> — If you remix, transform, or build upon the material, you must distribute your
        contributions under the same license as the original.
    </li>
</ul>